{% extends 'base.html' %}

{% load static %}

{%  block content %}

<div class="container">
    <div class="pt-3 pb-3">
        <img class="img-fluid shadow-4-strong" src="{{ header.image.url}}" />
    </div>
    <div id="carouselExampleControls" class="carousel slide pt-3 pb-3" data-mdb-ride="carousel"
         data-mdb-carousel-init>
        <div class="carousel-inner" id="carousel-inner">
            {% for item in events_data %}
                <div class="carousel-item active">
                  <img src="{{ item.image }}" class="d-block img-fluid" />
                </div>
            {% endfor %}
            {% for day in movies_data %}
            <div class="carousel-item">
                <div class="container pt-4 pb-5">
                    <div class="col-md-12">
                        <div class="card card-cascade wider border-black border-3">
                            <div class="card-header pb-5 pt-5 bg-primary bg-opacity-25">
                                <h1 class="font-weight-bold text-danger"><span class="text-dark fs-1">КИНОЗАЛ</span> | {{ day.day_name }} - {{ day.date }}</h1>
                            </div>
                            <div class="card-body">
                                {% for movie in day.movies %}
                                        <div class="row pb-4 pt-5">
                                            <div class="col-md-3">
                                                <h1 class="font-weight-bold text-danger fs-1">{{ movie.start_time }}</h1>
                                            </div>
                                            <div class="col-md-9">
                                                <h1 class="font-weight-bold fs-1">{{ movie.movie_name }}</h1>
                                            </div>
                                        </div>
                                    <hr>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
          <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
          </button>
          <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
          </button>
    </div>
    <div class="container fixed-bottom pb-5 mb-5">
        <div class="container pb-5 mb-5">
            <div class="row g-1 pt-3 mt-2 text-center">
                <div class="col-6 mb-1 d-grid gap-2 ps-3 pe-3 pb-2 pt-3"><a href="{% url 'events-list' %}" type="button" class="btn btn-primary fs-2" data-mdb-ripple-init>МЕРОПРИЯТИЯ</a></div>
                <div class="col-6 mb-1 d-grid gap-2 ps-3 pe-3 pb-2 pt-3"><a href="{% url 'news-list' %}" type="button" class="btn btn-primary fs-2" data-mdb-ripple-init>НОВОСТИ</a></div>
                <div class="col-6 mb-1 d-grid gap-2 ps-3 pe-3 pb-2 pt-3"><a href="{% url 'krujki-list' %}" type="button" class="btn btn-primary fs-2" data-mdb-ripple-init>КРУЖКИ</a></div>
                <div class="col-6 mb-1 d-grid gap-2 ps-3 pe-3 pb-2 pt-3"><a href="{% url 'pravila' %}" type="button" class="btn btn-primary fs-2" data-mdb-ripple-init>ПРАВИЛА</a></div>
                <div class="col-6 mb-1 d-grid gap-2 ps-3 pe-3 pb-2 pt-3"><a href="{% url 'pushkin' %}" type="button" class="btn btn-primary fs-2" data-mdb-ripple-init>ПУШКИНСКАЯ КАРТА</a></div>
                <div class="col-6 mb-1 d-grid gap-2 ps-3 pe-3 pb-2 pt-3"><a href="{% url 'reglament-list' %}" type="button" class="btn btn-primary fs-2" data-mdb-ripple-init>РЕГЛАМЕНТЫ</a></div>
                <div class="col-6 mb-1 d-grid gap-2 ps-3 pe-3 pb-2 pt-3"><a href="{% url 'qr-code-list' %}" type="button" class="btn btn-primary fs-2" data-mdb-ripple-init>QR КОДЫ</a></div>
                <div class="col-6 mb-1 d-grid gap-2 ps-3 pe-3 pb-2 pt-3"><a href="{% url 'services_list' %}" type="button" class="btn btn-primary fs-2" data-mdb-ripple-init>ПРАЙС НА УСЛУГИ</a></div>
                <div class="col-6 mb-1 d-grid gap-2 ps-3 pe-3 pb-2 pt-3"><a href="{% url 'shedule_list' %}" type="button" class="btn btn-primary fs-2" data-mdb-ripple-init>РАСПИСАНИЕ</a></div>
                <div class="col-6 mb-1 d-grid gap-2 ps-3 pe-3 pb-2 pt-3"><a href="#" type="button" class="btn btn-primary fs-2" data-mdb-ripple-init>КАРТА-СХЕМА</a></div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
