{% extends 'base.html' %}
{% load static %}

{%  block content %}

<div class="container">
    <div class="pt-1 shadow-2 border-2 border-black">
        <img class="img-fluid" src="{{ header.image.url}}" />
    </div>
    <div id="carouselExampleControls" class="carousel slide pt-2 shadow-2 border-2 border-black" data-mdb-ride="carousel"
         data-mdb-carousel-init style="max-height:375px">
        <div class="carousel-inner">
            {% for item in events_data %}
            <div class="carousel-item active">
              <img src="{{ item.image }}" class="d-block w-100" />
            </div>
            {% endfor %}
            {% for item in movies_data %}
            <div class="row mt-5 mb-5">
                {% for cinemaweek in object_list %}
                     {% for cinemaday in cinemaweek.cinemadays.all %}
                         <div class="col-md-2"></div>
                        <div class="col-md-8 mt-4 mb-4">
                            <div class="card card-cascade wider mb-2">
                                <div class="card-header"><h2 class="font-weight-bold text-danger">{{ cinemaday.name }} - {{ cinemaday.date|date:"d.m.y" }}</h2></div>
                                <div class="card-body">
                                    {% for movie in cinemaday.movies.all %}
                                    <div class="row">
                                        <div class="col-md-3 col-3 col-sm-3 col-lg-3"><h4 class="font-weight-bold font-responsive ri pp mbp">{{ movie.start_time|time:"H:i" }}</h4></div>
                                        <div class="col-md-9 col-9 col-sm-9 col-lg-9"><h4 class="font-weight-bold font-responsive ri pp mbp">{{ movie.name }}</h4></div>
                                    </div>
                                        <hr class="hrp">
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                         <div class="col-md-2"></div>
                    {% endfor %}
                {% endfor %}
            </div>
            {% endfor %}
        </div>
          <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Предыдущий</span>
          </button>
          <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Следующий</span>
          </button>
    </div>
    <div class="row g-1 pt-3 text-center">
        <div class="col-6 mb-1"><a href="#" type="button" class="btn btn-primary" data-mdb-ripple-init>МЕРОПРИЯТИЯ</a></div>
        <div class="col-6 mb-1"><button type="button" class="btn btn-primary" data-mdb-ripple-init>НОВОСТИ</button></div>
        <div class="col-6 mb-1"><button type="button" class="btn btn-primary" data-mdb-ripple-init>НОВОСТИ</button></div>
        <div class="col-6 mb-1"><button type="button" class="btn btn-primary" data-mdb-ripple-init>НОВОСТИ</button></div>
        <div class="col-6 mb-1"><button type="button" class="btn btn-primary" data-mdb-ripple-init>НОВОСТИ</button></div>
        <div class="col-6 mb-1"><button type="button" class="btn btn-primary" data-mdb-ripple-init>НОВОСТИ</button></div>
        <div class="col-6 mb-1"><button type="button" class="btn btn-primary" data-mdb-ripple-init>НОВОСТИ</button></div>
        <div class="col-6 mb-1"><button type="button" class="btn btn-primary" data-mdb-ripple-init>НОВОСТИ</button></div>
        <div class="col-6 mb-1"><button type="button" class="btn btn-primary" data-mdb-ripple-init>НОВОСТИ</button></div>

    </div>
</div>

{% endblock %}
