{% extends 'base.html' %}
{% load static %}

{%  block content %}

<div class="container-fluid pt-3 ps-1 pe-1">
    <div class="card-title text-center">
        <h1 class="text-primary pb-5 pt-5">РАСПИСАНИЕ НА НЕДЕЛЮ</h1>
    </div>
    <div class="container pb-1 overflow-auto" style="max-height: 1400px;">
        <div class="card">
            <div class="card-body">
                {% for day in days %}
                    <h1 class="text-uppercase text-primary">{{ day.name }}</h1>
                    <ul>
                        {% for event in day.events %}
                            <li>
                                <h2 class="text-danger">{{ event.start_time }} - {{ event.end_time }}</h2><br>
                                <h2>{{ event.name }}</h2>
                            <hr>
                            </li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container pb-5 mb-5 fixed-bottom">
        <div class="pb-3 mb-3 text-center d-grid gap-2 ps-2 pe-2">
            <a href="{% url 'index' %}" type="button" class="btn btn-primary fs-1" data-mdb-ripple-init>ВЕРНУТЬСЯ</a>
        </div>
    </div>
</div>

{% endblock %}
